numpy==1.26.4
pandas==2.3.1
scipy==1.11.4
statsmodels==0.14.2
PyYAML==6.0.1
Pillow==10.2.0
imageio==2.33.1
Shapely==2.1.2
scikit-learn==1.2.2
joblib==1.2.0
threadpoolctl==2.2.0
pytest==8.3.5
matplotlib==3.8.0
openpyxl==3.1.5
python-docx==1.2.0
